body {
    background: none;
    width: 300px;
    height: 380px;
    max-height: 606px;
}

.container {
    height: 380px;
    width: 300px;
    border-radius: 10px;

    display: block;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: radial-gradient(#e66465, #9198e5);

    background-size: cover;
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}

.title {
    padding: 0.1rem;
    padding-bottom: 0.5rem;
    overflow-y: hidden;
    
    text-align: center;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    letter-spacing: 1px;
    color: #ffffff;
    -webkit-animation: glow 5s ease-in-out infinite alternate;
    -moz-animation: glow 5s ease-in-out infinite alternate;
    animation: glow 10s ease-in-out infinite alternate;
}

#character-img {
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 55px;

    padding-bottom: 0.6rem;
    margin-top: 1.4rem;
}

label {
    width: 150px;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 2rem;
    padding-bottom: 0;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: rgba(255, 249, 251, 0.083);
    box-shadow: rgba(255, 255, 255, 0.24) 0px 1px 3px, #fff 0px 1px 2px;

    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;     
    font-weight: bold;
    font-size: 16.3px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #7378b5;
}


.generate {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.36rem;
    margin: 2rem;
}


button {
    background:url(./images/disguised-emoji.png) no-repeat;
    cursor:pointer;
    border:none;
    width:auto;
    height:auto;
}

.button-img {
    position:relative;
    overflow: hidden;
    height: 2rem;
    width: 2rem;
}


@keyframes glow {
    from {
      text-shadow: 0 0 0px #fec3c3, 0 0 5px #7d70ab, 0 0 10px #7d70ab, 0 0 15px #7d70ab, 
                   0 0 20px #7d70ab, 0 0 25px #e66465, 0 0 30px #e66465;
    }
    to {
      text-shadow: 0 0 0px #fc9595, 0 0 5px #fc9595, 0 0 10px #fc9595, 0 0 15px #fc9595, 
                   0 0 20px #e66464b5, 0 0 25px #e66464b5, 0 0 30px #e66464b5;
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 30%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 30%;
    }
}