/* html, body {
    margin: 3rem;
} */

body {
    background: none;
    width: 320px;
    height: 400px;
    max-height: 606px;
}

.container {
    height: 400px;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    background: radial-gradient(#e66465, #9198e5);
    background-size: cover;
    background-size: 200% 200%;
    animation: gradient 7s ease infinite;
    
    text-align: center;
}



.title {
    text-align: center;
    padding: 3rem;
    font-family: 'luminari', fantasy;
    color: #200c37;
}

@keyframes gradient {
    0% {
        background-position: 0% 30%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 30%;
    }
}