/* html, body {
    margin: 3rem;
} */

body {
    margin: 5rem;
    /* background: radial-gradient(#e66465, #9198e5, rgb(254, 156, 99)); */
    background: radial-gradient(#e66465, #9198e5, black);
    /* background: radial-gradient(#f48c9d, #69000e, black); */
    
    /* background: radial-gradient(black -10%, #69000e, #f48c9d); */
    /* background: radial-gradient(410px at 49.5% 99%, rgb(197, 67, 31) 0%, rgb(255, 209, 255) 99.5%); */
    background-size: 180% 180%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}